export("%!in%")
export(aggregateErrorTerms)
export(aspect)
export(aspell_add_word)
export(bmp.save)
export(center)
export(conv2Dto3D)
export(Conv2Dto3D)
export(conv3Dto2D)
export(Conv3Dto2D)
export(convertID)
export(counterbalance)
export(debackslash)
export(degrees)
export(dfEffects)
export(dist3D)
export(dist3D.l)
export(droplead0)
export(effectTerms)
export(errorTermRatios)
export(errorTerms)
export(factory)
export(fft.binFreqs)
export(fft.binN)
export(fft.binSize)
export(glibrary)
export(in2m)
export(km2mi)
export(latex.p)
export(latexFigure)
export(latinsquare.digram)
export(latinSquareCyclic)
export(latinSquareDigram)
export(lawOfCos)
export(longframe)
export(LScore)
export(m2in)
export(MAD)
export(makewave)
export(MEANS.STD.CORR)
export(mi2km)
export(MSE)
export(notin)
export(popscale)
export(popsd)
export(product)
export(pythag)
export(r2t)
export(radians)
export(rCounternull)
export(rScore)
export(SSE)
export(stimsize)
export(t2r)
export(table.png)
export(tContrast)
export(trimval)
export(unfactor)
export(uniquePermutations)
export(updateTex)
export(useAggregateErrorTerms)
export(viewdist)
export(visangle)
export(visangle3D)
export(vlookup)
export(widenames)
export(winvar)
export(Zmodified)
exportClasses(tContrast)
importFrom(e1071,permutations)
importFrom(foreach,"%do%")
importFrom(foreach,foreach)
importFrom(MASS,fractions)
importFrom(reshape2,melt)
importFrom(tools,texi2dvi)
importFrom(xtable,xtable)
S3method(print,tContrast)
